*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: rgb(24, 24, 24);
}

html{
    font-size: 10px;
}

:root {
    --color1: rgb(250, 246, 246);
    --color2: #46d8e28c;
    --color3: #46d8e2;
    --color4: rgba(91, 159, 236, 0);
    --color5: #46d8e242;;
}

/*

    Mensajes

*/

.div_error{
    width: 100%;
    height: 30px;
    background-color: rgb(210, 72, 72);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.error{
    color: rgb(255, 255, 255);
    margin-left: 50px;
}

.div_exito{
    width: 100%;
    height: 30px;
    background-color: rgb(87, 164, 27);
    display: flex;
    align-items: center;
}

.exito{
    color: rgb(255, 255, 255);
    margin-left: 50px;
}


/*

    Header

*/

.cabecera{
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--color2);
}

.cabecera .logo .logo_imagen{

    width: 80px;
    height: 40px;

}

.ham_button{
    width: 25px;
    height: 30px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 20px;
}

.ham_button .linea{
    width: 100%;
    height: 2px;
    background-color: var(--color3);
    margin: 3px;
}

/*

    Nav

*/

.menu{
    width: 300px;
    height: calc(100vh - 50px);
    position: fixed;
    top: 50px;
    z-index: 50;
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
}

.menu_estado_inicial{
    left: 0;
}

.menu_desplazado{
    left: -300px;
}

.menu .menu_items{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
} 

.menu .menu_items .enlace{
    text-decoration: none;
    font-size: 1.7rem;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 25%;
    padding-left: 10%;
}

.menu .menu_items .enlaceAdmin{
    height: 22%;
}

.menu .menu_items .enlace:hover{
    background-color: rgb(218, 214, 214);
}

.menu .menu_items .enlace .icono{
    width: 17px;
    height: 17px;
    margin-right: 10px;
}

.menu .menu_parte_superior{
    border-bottom: 2px solid var(--color2);
}


.menu .menu_parte_inferior .nombre_usuario{
    font-size: 1.4rem;
    margin: 15px 0 10px 10%;
}

.menu .menu_parte_inferior .nombre_usuario .icono{
    width: 14px;
    height: 14px;
    margin-right: 5px;
}


/*

    Contenido

*/

.contenido_estado_inicial{
    position: absolute;
    width: calc(100% - 300px);
    top: 50px;
    left: 300px;
    z-index: 30;
    transition: 1.5s;
    overflow: hidden;
}

.contenido_desplazado{
    width: 100%;
    top: 50px;
    left: 0;
}



@media (max-width: 1000px){

    .menu_estado_inicial{
        left: -100%;
        width: 100%;
    }

    .menu_desplazado{
        left: 0;
    }

    .contenido_estado_inicial{
        width: 100%;
        top: 50px;
        left: 0;
    }

    /*.menu .menu_items .enlace{

        justify-content: center;
        padding-left: 0;

    }

    .menu .menu_parte_inferior{
        align-items: center;
    }

    .menu .menu_parte_inferior .nombre_usuario{
        margin-left: 0;
    }*/

}

@media (max-width: 1000px) and (min-height: 750px){
    
    .menu{
        max-height: 1200px;
    }

    .menu .menu_items .enlace{

        font-size: 2.4rem;

    }

    .menu .menu_parte_inferior .nombre_usuario{
        font-size: 1.8rem;
    }

}