<article class="contacto">

    <section>
        <img src="/img/iconos/sobre.svg" alt="">
        <span>Mail: info@jkncargo.com</span>
    </section>

    <section>
        <a href="https://api.whatsapp.com/send?phone=+54911111111"><img src="/img/iconos/whatsapp.svg" alt=""></a>
        <span>Whatsapp: 1131949936</span>
    </section>

    <section>
        <img src="/img/iconos/telefono.svg" alt="">
        <span>Telefono: 7502-7796</span>
    </section>

</article>