<div class="imagen_containers">

</div>

<article class="introduccion">
    <img src="/img/logo.jpg" class="titulo">
    <h3 class="frase">Somos la empresa de servicios logísticos que puede ofrecerle toda la cadena de suministro ajustándose a sus necesidades</h3>
    <div>
        <span class="mas">Mas info</span>
        <img class="flecha" src="/img/iconos/flecha1.svg" alt="">
    </div>
</article>


<article class="servicios">

    <section class="servicios_nacional servicios_section">

        <h3 class="servicio_titulo">Transporte internacional</h3>
        
        <div class="contenedor_carrusel">

            <div class="carrusel carrusel_transporte_internacional">

                <div class="carrusel_item items_0 item_img">
                    <img src="/img/barco.jpg" alt="">
                </div>

                <div class="carrusel_item items_0 item_texto">
                    <h4 class="titulo">Transporte maritimo</h4>
                    <p class="info">A través de nuestro servicio marítimo y gracias a nuestras oficinas propias sumado a nuestra red de agentes, operamos en los principales tráficos mundiales, garantizando precios competitivos, mayor seguridad y un adicional de servicios que nos permiten obtener mejores resultados para nuestros clientes.</p>
                </div>

                <div class="carrusel_item items_0 item_img">
                    <img src="/img/avion.jpg" alt="">
                </div>

                <div class="carrusel_item items_0 item_texto">
                    <h4 class="titulo">Transporte aereo</h4>
                    <p class="info">Nuestros acuerdos con las compañías aéreas nos permiten tener tarifas mas competitivas, seguridad de reservas y frecuencia. Contamos con servicio de exportación e importación aérea.  </p>
                </div>

                <div class="carrusel_item items_0 item_img">
                    <img src="/img/camion2.jpg" alt="">
                </div>

                <div class="carrusel_item items_0 item_texto">
                    <h4 class="titulo">Transporte terrestre</h4>
                    <p class="info">Cubrimos todos nuestros países limítrofes. Chile, Paraguay, Uruguay, Brasil y Bolivia. Ofrecemos servicio LTL y FTL, pudiendo dar así la opción de cargar un equipo completo o cargas parciales. </p>
                </div>

            </div>
        </div>

        <button class="flecha_carrusel flecha_izquierda" id="flecha_izquierda"><img src="/img/iconos/flecha1.svg" alt=""></button>
        <button class="flecha_carrusel flecha_derecha" id="flecha_derecha"><img src="/img/iconos/flecha1.svg" alt=""></button>

    </section>


    <section class="servicios_nacional servicios_section">

        <h3 class="servicio_titulo">Transporte nacional</h3>
        
        <div class="contenedor_carrusel">

            <div class="carrusel carrusel_transporte_nacional">

                <div class="carrusel_item items_1 item_img">
                    <img src="/img/camion3.png" alt="">
                </div>

                <div class="carrusel_item items_1 item_texto">
                    <h4 class="titulo">Cargas Medianas</h4>
                    <p class="info">Muchas veces los clientes se encuentran con que tienen una carga que para un camión grande, sobra espacio y le eleva el costo innecesariamente o una camioneta no le alcanza por sus pesos y/o medidas. Por eso en JKN hicimos hincapié en este tipo de unidades y contamos con un gran abanico de opciones para este tipo de cargas.  Pudiendo cargar así, 4, 6, 8 y hasta 10 pallets en nuestras unidades.</p>
                </div>


                <div class="carrusel_item items_1 item_texto">
                    <h4 class="titulo">Los camiones mas grandes</h4>
                    <p class="info">Siempre con flota propia podemos cargar cualquier tipo de carga. Ya sea porta contenedores, cargas sueltas en semis sider, cargas que precisen baranda y lona o simplemente semis playos. Ofrecemos todo tipo de servicio incluido cargas peligrosas y con sobre medidas para carretones.</p>
                </div>

            </div>
        </div>

        <button class="flecha_carrusel flecha_izquierda" id="flecha_izquierda"><img src="/img/iconos/flecha1.svg" alt=""></button>
        <button class="flecha_carrusel flecha_derecha" id="flecha_derecha"><img src="/img/iconos/flecha1.svg" alt=""></button>

    </section>

    <section class="servicios_nacional servicios_section">

        <h3 class="servicio_titulo">Fletes</h3>
        
        <div class="contenedor_carrusel">

            <div class="carrusel carrusel_fletes">

                <div class="carrusel_item items_2 item_img">
                    <img src="/img/camioneta.jpeg" alt="">
                </div>

                <div class="carrusel_item items_2 item_texto">
                    <h4 class="titulo">Camionetas y utilitarios</h4>
                    <p class="info">Especiales para repartos, cargas pequeñas y/o livianas.  Contamos con nuestra flota propia, asegurando así un mejor servicio y brindando mayor seguridad. 
                        Todas nuestras unidades cuentan con seguimiento satelital.  
                        Sabiendo que los costos de transporte para cargas pequeñas pueden ser elevados, gracias a un grandísimo trabajo interno con todo el equipo de JKN podemos ofrecer un servicio Economy como alternativa al tradicional viaje. 
                    </p>
                </div>


            </div>
        </div>

        <button class="flecha_carrusel flecha_izquierda" id="flecha_izquierda"><img src="/img/iconos/flecha1.svg" alt=""></button>
        <button class="flecha_carrusel flecha_derecha" id="flecha_derecha"><img src="/img/iconos/flecha1.svg" alt=""></button>

    </section>


    <section class="servicios_nacional servicios_section">

        <h3 class="servicio_titulo">Depositos</h3>
        
        <div class="contenedor_carrusel">

            <div class="carrusel carrusel_depositos">

                <div class="carrusel_item items_3 item_img">
                    <img src="/img/deposito.jpeg" alt="">
                </div>

                <div class="carrusel_item items_3 item_texto">
                    <h4 class="titulo">Depositos nacionales</h4>
                    <p class="info">JKN CARGO S.A. Cuenta con unidades de deposito nacionales, ubicados estratégicamente. 
                        2 Depósitos en zona sur
                        2 Depósitos en zona norte. 
                        Tareas de estampillados, picking, etiquetados, carga y descarga, control de stock digital, pistolas lectoras de códigos de barra, impresiones, preparados de pedidos y distribución 
                        </p>
                </div>

                <div class="carrusel_item items_3 item_texto">
                    <h4 class="titulo">Depositos fiscales</h4>
                    <p class="info">Gracias al historial de JKN  dentro del mercado, poseemos los mejores acuerdos comerciales para brindar el servicio de Deposito Fiscal. Cubriendo las principales zonas comerciales y prestando un servicio de calidad excepcional. 
                    </p>
                </div>


            </div>
        </div>

        <button class="flecha_carrusel flecha_izquierda" id="flecha_izquierda"><img src="/img/iconos/flecha1.svg" alt=""></button>
        <button class="flecha_carrusel flecha_derecha" id="flecha_derecha"><img src="/img/iconos/flecha1.svg" alt=""></button>

    </section>

</article>



<h4 class="otros_servicios_h4">Otros servicios</h4>
<article class="otros_servicios">

    
    <section class="otros_servicios_section">

        <div class="tarjeta">
            <div class="cara_frontal cara">
                <img src="/img/iconos/tilde.svg" alt="">
                <h3 class="titulo_otros_servicios">Asesoramiento Aduanero</h3>
                <button class="girar">Ver info</button>  
            </div>
            <div class="cara_trasera cara">
                <p class="info">Brindamos asistencia aduanera tanto en origen como en destino, evitando dolores de cabeza y optimizando sus operaciones con beneficios impositivos.</p>
                <button class="girar">Volver</button>  
            </div>
        </div>
        
    </section>

    <section class="otros_servicios_section">

        <div class="tarjeta">
            <div class="cara_frontal cara">
                <img src="/img/iconos/tilde.svg" alt="">
                <h3 class="titulo_otros_servicios">Seguro de mercaderia</h3>
                <button class="girar">Ver info</button>  
            </div>
            <div class="cara_trasera cara">
                <p class="info">Aseguramos sus cargas de puerta a puerta, brindando un beneficio exclusivo contando con almacenaje en depositos.</p>
                <button class="girar">Volver</button>  
            </div>
        </div>
        
    </section>

    <section class="otros_servicios_section">

        <div class="tarjeta">
            <div class="cara_frontal cara">
                <img src="/img/iconos/tilde.svg" alt="">
                <h3 class="titulo_otros_servicios">Distribucion de E-commerce</h3>
                <button class="girar">Ver info</button>  
            </div>
            <div class="cara_trasera cara">
                <p class="info">Distribucion e-commerce: ajustandose a los tiempos modernos jkn cargo, ofrece la distribucion para envios de venta electronica, cumpliendo asi la entrega de puerta a puerta.</p>
                <button class="girar">Volver</button>  
            </div>
        </div>
        
    </section>
         
    
</article>

<script src="/js/tarjetas.js"></script>
<script src="/js/carrusel.js"></script>