<article class="preguntas">

    <section class="pregunta_seccion">

        <div class="tarjeta">
            <div class="cara_frontal cara girar">
                <img src="/img/iconos/consulta.svg" alt="">
                <h3 class="titulo_preguntas">¿Qué son los Incoterms?</h3>
            </div>
            <div class="cara_trasera cara">
                <p class="info">Los Incoterms (International Commercial Terms) son términos que se utilizan en las operaciones de compra-venta entre compañías de diferentes países.
                    <br>Su objetivo es unificar los conceptos comerciales, de forma que el vendedor y el comprador entiendan a la perfección las condiciones de las operaciones que realicen entre ellos.</p>
                <button class="girar">Volver</button>  
            </div>
        </div>

    </section>

    <section class="pregunta_seccion">

        <div class="tarjeta">
            <div class="cara_frontal cara girar">
                <img src="/img/iconos/consulta.svg" alt="">
                <h3 class="titulo_preguntas">¿Con ustedes podre seguir el estado de mis cargas?</h3>
            </div>
            <div class="cara_trasera cara">
                <p class="info"></p>
                <button class="girar">Volver</button>  
            </div>
        </div>

    </section>

    <section class="pregunta_seccion">

        <div class="tarjeta">
            <div class="cara_frontal cara girar">
                <img src="/img/iconos/consulta.svg" alt="">
                <h3 class="titulo_preguntas">¿Puedo delegar toda la operación logística con ustedes?</h3>
            </div>
            <div class="cara_trasera cara">
                <p class="info"></p>
                <button class="girar">Volver</button>  
            </div>
        </div>

    </section>

    <section class="pregunta_seccion">

        <div class="tarjeta">
            <div class="cara_frontal cara girar">
                <img src="/img/iconos/consulta.svg" alt="">
                <h3 class="titulo_preguntas">¿Puedo delegar toda la operación logística con ustedes?</h3>
            </div>
            <div class="cara_trasera cara">
                <p class="info"></p>
                <button class="girar">Volver</button>  
            </div>
        </div>

    </section>

    <section class="pregunta_seccion">

        <div class="tarjeta">
            <div class="cara_frontal cara girar">
                <img src="/img/iconos/consulta.svg" alt="">
                <h3 class="titulo_preguntas">¿Pueden asegurar mis cargas?</h3>
            </div>
            <div class="cara_trasera cara">
                <p class="info"></p>
                <button class="girar">Volver</button>  
            </div>
        </div>

    </section>

</article>

<script src="/js/preguntas.js"></script>